@using PCCM.Web.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@UIStrings.WebTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
</head>
<body>
    <div class="top-banner" data-spy="affix-top">
        <div class="banner-text">
            <h1>@UIStrings.WebTitle</h1>
        </div>
        <a class="scrolldown" href="#content"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    </div>
    <div class="navbar navbar-inverse navbar-default navbar-static-top" data-spy="affix" data-offset-top="900">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(UIStrings.ShortWebTitle, "Index", "Home", null, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(UIStrings.Home, "Index", "Home")</li>
                    @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UIStrings.About <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Mission and Values</a></li>
                            <li><a href="#">Officers</a></li>
                            <li><a href="#">Staffs</a></li>
                            <li><a href="#">Membership</a></li>
                            <li><a href="#">Founders</a></li>
                            <li><a href="#">Sponsors & Donors</a></li>
                            <li><a href="#">Affiliates & Partners</a></li>
                            <li><a href="#">Confidentiality & Conflict of Interest Agreement</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Accessibility</a></li>
                        </ul>
                    </li>*@
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UIStrings.ProgramsAndServices <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Rental of Facility</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1">Employment Support</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Professionals</a></li>
                                    <li><a href="#">Skilled Worker</a></li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1">Programs</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Mentorship</a></li>
                                            <li><a href="#">Practicum Opportunities</a></li>
                                            <li><a href="#">Job Search Workshops</a></li>
                                            <li><a href="#">Canadian Work Experience</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Business Start-Up & Settlement</a></li>
                            <li><a href="#">Walk-In Counseling</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1">Language Training</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Spoken Tagalog</a></li>
                                    <li><a href="#">English for General Purposes</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Filipino Seniors Project</a></li>
                            <li><a href="#">Child Minding Services</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UIStrings.VolunteeringAndMembership <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Volunteer Opportunities</a></li>
                            <li><a href="#">Volunteer Stories and Testimonies</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1">Application Forms</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Volunteers</a></li>
                                    <li><a href="#">Membership - Individual & Affiliates</a></li>
                                    <li><a href="#">Nomination for Board of Director</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UIStrings.Media <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Video</a></li>
                            <li><a href="#">Gallery</a></li>
                            <li><a href="#">Event's Reports</a></li>
                        </ul>
                    </li>

                    @*<li>@Html.ActionLink(UIStrings.Contact, "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="content" class="container body-content">
        @RenderBody()
    </div>
<footer class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>@UIStrings.About</h4>                
                <ul>
                    <li><a href="#">Mission and Values</a></li>
                    <li><a href="#">Officers</a></li>
                    <li><a href="#">Staffs</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Founders</a></li>
                    <li><a href="#">Sponsors & Donors</a></li>
                    <li><a href="#">Affiliates & Partners</a></li>
                    <li><a href="#">Confidentiality & Conflict of Interest Agreement</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>                
            </div>
            <div class="col-md-4">
                <h4>@UIStrings.Contact</h4>
            </div>
            <div class="col-md-4">
                <h4>@UIStrings.Resources</h4>
                <ul>
                    <li><a href="#">Annual Report & Financial Statements</a></li>
                    <li><a href="#">Consitution & By-Laws</a></li>
                    <li><a href="#">Job Search</a></li>
                    <li><a href="#">Housing Information</a></li>
                    <li><a href="#">History of @UIStrings.ShortWebTitle</a></li>
                    <li><a href="#">Userful Link</a></li>
                </ul> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    Copyright &copy; @(DateTime.Now.Year.ToString() != "2016" ? $"2016 - {DateTime.Now.Year}"
                                       : $"{DateTime.Now.Year}") by @UIStrings.DeveloperName1. All rights reserved.
                </p>
            </div>  
        </div>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>

