@using PCCM.Web.Resources

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | @UIStrings.WebTitle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*Website fonts*@
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="top-banner">
        <div class="banner-text hidden-sm hidden-xs">
            <h1>@UIStrings.WebTitle</h1>
        </div>
        <a class="scrolldown" href="#content"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
    </div>
    <div id="navbar" class="navbar navbar-inverse navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(UIStrings.ShortWebTitle, "Index", "Home", null, new {@class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(UIStrings.Home, "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UIStrings.Programs & @UIStrings.Services <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@UIStrings.RentalOfFacility</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1">@UIStrings.EmploymentSupport</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">@UIStrings.Professionals</a></li>
                                    <li><a href="#">@UIStrings.SkilledWorker</a></li>
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1">@UIStrings.Programs</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">@UIStrings.Mentorship</a></li>
                                            <li><a href="#">@UIStrings.PracticumOpportunities</a></li>
                                            <li><a href="#">@UIStrings.JobSearchWorkshops</a></li>
                                            <li><a href="#">@UIStrings.CanadianWorkExperience</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">@UIStrings.BusinessStartup & @UIStrings.Settlement</a></li>
                            <li><a href="#">@UIStrings.WalkInCounceling</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1">@UIStrings.LanguageTraining</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">@UIStrings.SpokenTagalog</a></li>
                                    <li><a href="#">@UIStrings.EnglishForGeneral</a></li>
                                </ul>
                            </li>
                            <li><a href="#">@UIStrings.FilipinoSeniorsProject</a></li>
                            <li><a href="#">@UIStrings.ChildMindling</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UIStrings.Volunteering & @UIStrings.Membership <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@UIStrings.VolunteerOpportunities</a></li>
                            <li><a href="#">@UIStrings.VolunteerStories</a></li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1">@UIStrings.ApplicationForms</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">@UIStrings.Volunteers</a></li>
                                    <li><a href="#">@UIStrings.Membership - @UIStrings.Individual & @UIStrings.Affiliates</a></li>
                                    <li><a href="#">@UIStrings.NominationForBoardOfDirector</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@UIStrings.Media <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Vidoes","Media")">@UIStrings.Videos</a></li>
                            <li><a href="@Url.Action("Gallery","Media")">@UIStrings.Gallery</a></li>
                            <li><a href="@Url.Action("Events","Media")">@UIStrings.EventsReports</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="content" class="container body-content">
        @RenderBody()
    </div>
<footer class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>@UIStrings.About</h4>
                <ul>
                    <li><a href="@Url.Action("Index","About")#mission">@UIStrings.MissionAndValues</a></li>
                    <li><a href="@Url.Action("Index","About")#officers">@UIStrings.Officers</a></li>
                    <li><a href="@Url.Action("Index","About")#staffs">@UIStrings.Staffs</a></li>
                    <li><a href="@Url.Action("Index","About")#membership">@UIStrings.Membership</a></li>
                    <li><a href="@Url.Action("Index","About")#founders">@UIStrings.Founders</a></li>
                    <li><a href="@Url.Action("Index","About")#sponsors">@UIStrings.Sponsors & @UIStrings.Donors</a></li>
                    <li><a href="@Url.Action("Index","About")#affiliates">@UIStrings.Affiliates</a></li>
                    <li><a href="@Url.Action("Index","About")#confidentiality">@UIStrings.Confidentiality & @UIStrings.CoIA</a></li>
                    <li><a href="@Url.Action("Index","About")#privacy">@UIStrings.PrivacyPolicy</a></li>
                    <li><a href="@Url.Action("Index","About")#accessibility">@UIStrings.Accessibility</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>@UIStrings.Contacts</h4>
            </div>
            <div class="col-md-4">
                <h4>@UIStrings.Resources</h4>
                <ul>
                    <li><a href="@Url.Action("AnnualReport","Resources")">@UIStrings.AnnualReport</a></li>
                    <li><a href="@Url.Action("ConstitutionAndByLaws","Resources")">@UIStrings.Constitution & @UIStrings.ByLaws</a></li>
                    <li><a href="@Url.Action("JobSearch","Resources")">@UIStrings.JobSearch</a></li>
                    <li><a href="@Url.Action("Housing","Resources")">@UIStrings.HousingInformation</a></li>
                    <li><a href="@Url.Action("History","Resources")">@UIStrings.HistortyOfPCCM</a></li>
                    <li><a href="@Url.Action("Legals","Resources")">@UIStrings.Legals</a></li>
                    <li><a href="@Url.Action("UsefulLinks","Resources")">@UIStrings.UsefulLinks</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    Copyright &copy; @(DateTime.Now.Year.ToString() != "2016" ? $"2016 - {DateTime.Now.Year}"
                                           : $"{DateTime.Now.Year}") by @UIStrings.DeveloperName1. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>

